{% extends "web_ui/site_template.html" %}
{% load static %}
{% block  title %}
    <title>Index title place holder</title>
{% endblock %}

{% block content %}

    <div id="page-wrapper" class="sign-in-wrapper">
        <div class="sign-in-form">
            <!-- Header start -->
            {% include "web_ui/header_template.html" %}
            <!-- Header end -->
            <div class="signin">
                <div class="activity-row" style="padding-left: 0px;">
                    <div class="col-xs-6 activity-desc">
                        <h4>
                            <form name="server_sync_form" method="POST"
                                  action="{% url "server_sync" %}">{% csrf_token %}
                                <a href="{% url "server_sync" %}">Sync now</a>
                            </form>
                        </h4>
                        <p>Last sync with server: {{ server_last_sync }}</p>
                    </div>
                    <div class="col-xs-6 activity-desc">
                        <h4>
                             <a id="check_server_connection_button" href="#">Check server connection</a>
                            <span id="server_connection_message"></span>
                        </h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>Available Food Boxes:</p>
                <form>
                    <div class="online">
                        {% for box in food_boxes %}
                            <form name="box_form" method="POST" action="{% url "sync_box" %}">{% csrf_token %}
                                <div class="online-top">
                                    <div class="top-at">
                                        <img width="70px" class="" src=" {% static  "images/bawl_trans.png" %}"
                                             alt="">
                                    </div>
                                    <div class="top-on">
                                        <div class="top-on1">
                                            <p>Box name: {{ box.box_name }} <br/></p>
                                            <span>Last synced: {{ box.box_last_sync }} <br/></span>
                                        </div>
                                        <button type="submit" class="btn btn_5 btn-xs btn-info">Sync now
                                        </button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <input type="hidden" name="box_id" value="{{ box.box_id }}">
                            </form>
                        {% endfor %}
                    </div>
                </form>
                <br/>
                <br/>
                <div class="activity-row" style="padding-left: 0px;">
                    <div class="col-xs-12 activity-desc">
                        <h4>
                            <p>{{ account_name }}</p>
                            <form name="logout_form" method="POST"
                                  action="{% url "logout" %}">{% csrf_token %}
                                <a href="{% url "logout" %}">Logout</a>
                            </form>
                        </h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
		$(document).ready(function(){
			$("#check_server_connection_button").click(function(){
				$.ajax({
					url: "{%  url "external_trigger_check_server_connection" %}",
					method: "GET",
					success: function(result){
						if(result.connection_status){
							$("#server_connection_message").text("connection OK");

						} else{
							$("#server_connection_message").text("connection not OK");

						}
					},
					error: function(xhr){
						alert("An error has occurred: " + xhr.status + " " + xhr.statusText)
					}
				});
			});
		});
    </script>
{% endblock %}