<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static  "css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery-3.2.1.slim.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

</head>
<body>
<!-- Header start -->
{% include "web_ui/header_template.html" %}
<!-- Header end -->

{% block content %}
{% endblock %}

<!-- Footer start -->
{% include "web_ui/footer_template.html" %}
<!-- Footer end -->
</body>
</html>